<header>
  <h2>THE PLANETS</h2>
  <img
    class="responsiv-icon"
    (click)="toggleDropdown()"
    src="assets/images/header/icon-hamburger.svg"
  />

  <nav class="desktop__nav">
    <span class="link hover-a" [routerLink]="'/mercury'">MERCURY</span>
    <span class="link hover-b" [routerLink]="'/venus'">VENUS</span>
    <span class="link hover-c" [routerLink]="'/earth'">EARTH</span>
    <span class="link hover-d" [routerLink]="'/mars'">MARS</span>
    <span class="link hover-e" [routerLink]="'/jupiter'">JUPITER</span>
    <span class="link hover-f" [routerLink]="'/saturn'">SATURN</span>
    <span class="link hover-g" [routerLink]="'/uranus'">URANUS</span>
    <span class="link hover-h" [routerLink]="'/neptune'">NEPTUNE</span>
  </nav>
  <nav class="tablet__nav">
    <span class="link" [routerLink]="'/mercury'" [routerLinkActive]="'dot'"
      >MERCURY</span
    >
    <span class="link" [routerLinkActive]="'dot'" [routerLink]="'/venus'"
      >VENUS</span
    >
    <span class="link" [routerLinkActive]="'dot'" [routerLink]="'/earth'"
      >EARTH</span
    >
    <span class="link" [routerLinkActive]="'dot'" [routerLink]="'/mars'"
      >MARS</span
    >
    <span class="link" [routerLinkActive]="'dot'" [routerLink]="'/jupiter'"
      >JUPITER</span
    >
    <span class="link" [routerLinkActive]="'dot'" [routerLink]="'/saturn'"
      >SATURN</span
    >
    <span class="link" [routerLinkActive]="'dot'" [routerLink]="'/uranus'"
      >URANUS</span
    >
    <span class="link" [routerLinkActive]="'dot'" [routerLink]="'/neptune'"
      >NEPTUNE</span
    >
  </nav>

  <div class="mobile__nav open" [ngClass]="{ 'd-none': !isDropdownOpen }">
    <nav class="mobile__nav__con">
      <div>
        <span class="nav__dot mercury"></span>
        <span class="link" [routerLink]="'/mercury'" (click)="close()"
          >MERCURY</span
        >
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>
      <div>
        <span class="nav__dot venus"></span>
        <span class="link" (click)="close()" [routerLink]="'/venus'"
          >VENUS</span
        >
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>

      <div>
        <span class="nav__dot earth"></span>
        <span class="link" (click)="close()" [routerLink]="'/earth'"
          >EARTH</span
        >
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>
      <div>
        <span class="nav__dot mars"></span>
        <span class="link" (click)="close()" [routerLink]="'/mars'">MARS</span>
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>
      <div>
        <span class="nav__dot jupiter"></span>

        <span class="link" (click)="close()" [routerLink]="'/jupiter'"
          >JUPITER</span
        >
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>

      <div>
        <span class="nav__dot saturn"></span>
        <span class="link" (click)="close()" [routerLink]="'/saturn'"
          >SATURN</span
        >
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>

      <div>
        <span class="nav__dot uranus"></span>
        <span class="link" (click)="close()" [routerLink]="'/uranus'"
          >URANUS</span
        >
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>
      <div>
        <span class="nav__dot neptune"></span>
        <span class="link" (click)="close()" [routerLink]="'/neptune'"
          >NEPTUNE</span
        >
        <img src="assets/images/header/icon-chevron.svg" alt="chevron" />
      </div>
    </nav>
  </div>
</header>
